<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body style="background-color:lightblue;">
    <h1>Complaints List</h1>
    <div class="container mb-5">
        <div class="row d-flex justify-content-evenly">
            <div class="col-12 border">
                <table>
                    <tr>
                        <th>username</th>
                        <th>userphone</th>
                        <th>guardian name</th>
                        <th>guardianphone</th>
                        <th>send date</th>

                        <th>Description</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    {% for complaint in complaints %}
                    <tr>
                        <td>{{ complaint.complainant }}</td>

                        <td>{{ complaint.complainant.user_profile.phone }}</td>
                        <td>{{ complaint.complainant.user_profile.guardian_name }}</td>
                        <td>{{ complaint.complainant.user_profile.guardian_phone}}</td>
                        <td>{{ complaint.date_time}}</td>
                        <td>{{ complaint.description }}</td>
                        <td>{{ complaint.status }}</td>
                        <td>
                            <form method="post" action="{% url 'approve_complaint' complaint.id %}">
                                {% csrf_token %}
                                <button type="submit">Approve</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>
