<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(162, 200, 200);">
    <h1>station List</h1>
    <div class="container mb-5" >
        <div class="row d-flex justify-content-evenly">
            <div class="col-7 border" style="height: 580px;">
            <div>
                {% for police in police%}
                <li>{{ police.station_name }} 
                        </li>
                        <button type="submit"><a href="{%url 'police-delete' police.id%}">delete</a></button>
                        <button type="submit"><a href="{%url 'police-update' police.id%}">update</a></button>


                {% endfor %}
    
            </div>  
   </div>
    </div>

</body>
</html>

